h2{
    background: red;
    height: 500px;
    background: url("../../秦/1.jpg");
    transform: rotate(30deg);
    transition: height 2s ease;
    animation: run 2s ease 3s;
    
    
}
@keyframes run{
    0%{
        width:100px;
    }
    50%{
        width: 800px;
    }
    100%{
        width: 1000px;
    }
}
