*{
    margin:0;
    padding:0;
}

h3{
    width: 960px;
    height: 100px;
    background: #cccccc;
    margin: 20px auto;
    text-align: center;
    line-height: 100px;
}
#img-box{
    width: 960px;
    height: 560px;
    background: url(img/01.jpg) 0 0 no-repeat;
    background-size:100%;
    margin: 0 auto;
}
#content{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
#left{
    width: 630px;
    height: 300px;
    background: pink;
    float:left;
    display:table;

}
#left p{
    display:table-cell;
    vertical-align: middle;
}
#right{
    width: 300px;
    height: 300px;
    background: #0f0;
    float:right;
}
@media screen and (max-width:960px){
    h3{
        width: 100%;
    }
    #img-box{
        width:100%;
        background-image: url(img/01_s_2x.jpg);
        height: 0;
        padding-top:56%;
    }
    #content{
        width: 100%;
    }
    #left{
        width: 66%;
    }
    #right{
        width: 31%;
    }
}
@media screen and (max-width:480px){
    #img-box{
        background-image: url(img/01_s.jpg);
    }
    #left{
        width: 100%;
    }
    #right{
        width: 100%;
    }
}