*{
    margin: 0;
    padding: 0;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
    -webkit-font-smoothing:antialiased;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* 公共样式 用来居中*/
.wrapper{
    width: 1230px;
    margin: 0 auto;

}
.arrow{
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top: 6px solid #bbb;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 8px;
    top: 15px;
    transition: transform 1s ease;
}
