/*header */
#header{
    height: 32px;
    line-height: 32px;
    background: #a9180a;
    border-bottom: 1px solid #a9180a;
}
.header-login{
    height: 32px;
    /*line-height: 32px;*/
    float: left;
}
.header-login span,.header-login a{
    color: #fff;
    font-size: 12px;

}
.header-login a{
    text-decoration: none;
    padding: 0 10px 0 20px;
}
.header-list{
    float: right;
}
.header-list >li{
    float: left;
    padding: 0 14px 0 10px;
}
.header-list >li>a{
    color: #fff;
}
.list-arrow{
    position: relative;
}
.sub-list{
    position: absolute;
    left: 0px;
    top:32px;
    background: #fff;
    padding: 10;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}
.sub-list-tb{
    width: 72px;
    line-height: 20px;
}
.sub-list > li > a{
    color: #999;
    
}
/*class名为.list-arrow的li hover的时候 找到它里面class名为sub-list 的ul 显示*/
.list-arrow:hover .sub-list{
    display: block;

}
.list-arrow:hover{
    background: #fff;
}
.list-arrow:hover > a{
    color: #ff0036;
    text-decoration: underline;
}
/*li hover箭头旋转*/
.list-arrow:hover .arrow{
    transform: rotate(180deg);
    transform-origin: 50% 25%;

}
.sub-list .list-tb-baby:hover{
    color: #ff0036;
    text-decoration: underline;
}
.my-car{
    font-size: 12px;
}
/*header 结束*/

/*搜索 开始*/
.logo-box{
    overflow: hidden;
}
.logo{
    width: 240px;
    height: 130px;
    float: left;
}
.search-box{
    float: left;
    margin-left: 96px;
    margin-top: 38px;
    overflow: hidden;
}
.search-content{
    width: 623px;
    height: 36px;
    border: 2px solid #ff0000;
}
.search-input{
    width: 491px;
    height: 36px;
    border: none;
    /*输入框 选中样式*/
    outline:none;
    text-indent: 5px;
    float: left;
}
.search-btn{
    width: 132px;
    height: 36px;
    background: #ff0036;
    border: none;
    float: left;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    /*文字之间空隙*/
    letter-spacing: 5px;
}
.search-list li{
    float: left;
    margin-top: 3px;
    padding: 0 12px;
    position: relative;
    left: -12px;
}
.search-list li::after{
    content: '';
    width: 1px;
    height: 15px;
    background: #999999;
    position: absolute;
    left: 0;
    top: 4px;
}
.search-list li a{
    color: #999;
    font-size: 14px;
}
.search-list li.list-hot a{
    color: #ff0036;
}


/*搜索结束*/


/*menu开始*/
.menu{
    padding: 200px;
    width: 1030px;
    overflow: hidden;
}
.menu li{
    float: left;
}
.menu li img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
}
.menu a{
    color:#333;
    font-size: 16px;
    font-weight: 500; 
    display: block;
    height: 35px;
    line-height: 35px;
    padding:  0 8px;
}

/*menu结束*/

/*轮播图开始*/
.slide-box{
    height: 500px;
    background: #ccc;
    border-top: 1px solid #ff0036 ;
}
.slide-wrapper{
    height: 500px;
    background:#ff0036;
    position: relative;
}
.menu-box{
    width: 200px;
    background: #ff0000;
    height: 500px;
    position: absolute;
    top:-35px;
}
.img-box img{
    width: 1230px;
    height: 500px;
}


/*轮播图结束*/