/* header开始 */

.header{
    height: 0.48rem;
    background: #ffffff;
    display: flex;
    padding: 0.2rem;
    position:relative;
}
.search-text{
    width: 6.6rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    text-indent: 0.61rem;
    background: #eeeeee url(../images/search.png) 0.2rem 0.1rem no-repeat;
    background-size: 0.3rem 0.3rem;
}
.message{
    width: 0.28rem;
    height: 0.3rem;
    position: absolute;
    left:7.02rem;
    top:0.3rem;
}
/* header 结束 */

/* advertisement开始 */
.advertisement{
    width: 7.5rem;
    height: 3.9rem;
    position:relative;
}
.advertisement-background{
    width: 7.5rem;
    height: 3.9rem;
}
.advertisement-live{
    width: 1rem;
    height: 0.4rem;
    position: absolute;
    left: 0.3rem;
    top:0.3rem;
}

/* advertisement 结束 */

/* function 开始 */
.function{
    height: 1.6rem;
    padding: 0 0.2rem;
    background: #ffffff;
    display:flex;
    justify-content: space-between;

}
.function-logo{
    width: 1rem;
    height: 1.21rem;
    /* display: flex; */
    /* justify-content: space-between; */
}
.function-logo a img{
    width: 0.8rem;
    height: 0.8rem;
    float: left;
    padding: 0.2rem;
    /* transform: translate(0,0.2rem); */
}
.function-logo a span{
    font-family: PingFangSC-Regular;
    font-size:0.2rem;
    color: #333333;
    float: left;
    text-align: center;
    width: 1.2rem;
}
.activity{
    height: 1.8rem;
    background: #ffffff;
}
.activity a img{
    padding: 0.1rem 0.2rem 0.19rem 0.2rem;
    width: 7.1rem;
    height: 1.4rem;
}


/* function结束 */

/* groupbuy开始 */
.groupbuy{
    height: 4.5rem;
    background: #eeeeee;
    position:relative;
}
.groupbuy-header{
    width: 7.5rem;
    height: 1rem;
    background: #ffffff;
    position:absolute;
    top:0.11rem;
    left:0;
}
.groupbuy-header-buju{
    list-style-type: none;
    float:left;
}
.groupbuylogo{
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top:0.25rem;
    left:0.2rem;
}
.groupbuy-title{
    font-family:PingFangSC-Regular;
    font-size:0.28rem;
    color: #333333;
    width: 1.2rem;
    height: 0.27rem;
    margin: 0.19rem 0.9rem 0.15rem;
}
.groupbuy-title-English{
    width:2.3rem;
    height:0.18rem;
    font-size:0.18rem;
    margin: 0 0.9rem;
    font-family:Helvetica;
    color:#999999;
}
.groupbuy-header a img{
    width: 0.14rem;
    height: 0.24rem;
    position: absolute;
    top:0.38rem;
    left:7.16rem;
}
.groupbuy-goods{
    width: 7.1rem;
    height: 3.3rem;
    padding:0 0.2rem;
    background: #ffffff;
    position: absolute;
    top:1.11rem;
    left:0;
    display: flex;
    justify-content: space-between;
}
.goods{
    display: inline-block;
    width: 2.31rem;
    height: 3.3rem;
    /* background: #0f0; */
}
.goods img{
    width: 2.3rem;
    height: 2.3rem;
    float: left;
}
.goods-dictionary{
    font-family: PingFangSC-Regular;
    font-size:0.24rem;
    color: #333333;
    float: left;
    text-align: center;
    margin:0.19rem 0 0 0;
}
.price{
    color: #EF1C00;
    font-size:0.24rem;
    font-family:PingFangSC-Regular;
    float:left;
    margin:0.1rem 0;
}
/* groupbuy 结束 */

/* guesslike开始 */
.guesslike-header{
    width: 7.5rem;
    height: 1rem;
    background: #ffffff;
    position: relative;
}
.guesslike-header-buju{
    list-style-type: none;
    float:left;
}
.guesslikelogo{
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top:0.25rem;
    left:0.2rem;
}
.guesslike-header-buju a img{
    width: 0.14rem;
    height: 0.24rem;
    position: absolute;
    top:0.38rem;
    left:7.16rem;
}
.guess-goods{
    height: 4.5rem;
    background: #ffffff;
    margin: 0 0.15rem;
    justify-content: space-around;
}
.guess-goods-dictionary{
    display: inline-block;
    height: 4.5rem;
    width: 3.4rem;
}
.guess-goods a img{
    width: 3.5rem;
    height: 3.5rem;
    float: left;
}
.silecount{
    float: right;
    font-size:0.2rem;
    font-family:PingFangSC-Regular;
    color:#999999;
    margin: 0.19rem 0 0 0;
}
.guesslike-goods-dictionary{
    font-size:0.24rem;
    font-family:PingFangSC-Regular;
    color:#333333;
    float: left;
    margin: 0.19rem 0 0 0;
}

/* guesslike结束 */

/* bottom开始 */
.bottom{
    width: 7.5rem;
    height: 0.98rem;
    background: #ffffff;
    display: flex;
    justify-content:space-between;
}
.bottom a{
    display: inline-block;
    height: 0.95rem;
    width: 0.9rem;

}
.bottom a img{
    width: 0.4rem;
    height: 0.42rem;
    float: left;
    margin: 0.14rem;
}
.bottom a span{
    font-size:0.2rem;
    font-family:PingFangSC-Regular;
    color:#999999;
    float: left;
    margin: 0 0.14rem;
}
.bottom a:hover{
    color: #EF1C00;
}
.line{
    height: 0.02rem;
    width: 7.5rem;
    background: #999999;
}


/* bottom结束 */