<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        {{msg}}
        <ul>
            <li v-for="obj in arr">{{obj}}</li>
        </ul>
        <ul>
            <li v-for="pro in student">{{pro.name}}--{{pro.age}}--{{pro.chool}}</li>
        </ul>
        <span v-text="msgg"></span>
        <span v-html="msgg"></span>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                msgg: "<h2>ddd</h2>",
                msg: "qin",
                arr: [1, 2, 3],
                student: [
                    {

                        name: "qin",
                        age: 20,
                        school: "黑大"
                    }
                ]
            }
        })
    </script>
</body>

</html>