/* header开始 */
#header{
    height: 32px;
    background: #a9180a;
    border-bottom:1px solid #a9180a;
    line-height: 32px;
}
.header-login{
    height: 32px;
    /* line-height: 32px; */
    float:left;
}
.header-login span,.header-login a{
    color: #fff;
    font-size:12px;
}
.header-login a{
    /* text-decoration: none; */
    padding:0 10px 0 20px;
}
.header-list{
    float:right;
}
.header-list > li{
    float:left;
    padding:0 14px 0 10px;
}
.header-list > li > a{
    color:#fff;
}
.list-arrow{
    position: relative;
}
.sub-list{
    z-index: 91003;
    position:absolute;
    left:-0.5px;
    top:32px;
    background:#fff;
    padding:8px 10px;
    border:1px solid #ccc;
    border-top:none;
    display:none;
}
.sub-list-tb{
    width: 73px;
    line-height: 21px;
}
.sub-list a{
    color:#999;
}
.list-arrow:hover .sub-list{
    display:block;
}
.list-arrow:hover{
    background: #fff;
}
.list-arrow:hover .arrow{
    transform: rotate(180deg);
    transform-origin: 50% 25%;
}
.list-arrow:hover>a{
    color:#ff0036;
    text-decoration: underline;
}
.list-arrow:hover .my-car{
    color:#ff0036;
}
.sub-list-sc{
    width: 63px;
    line-height: 21px;
}
.sub-list a:hover{
    color:#ff0036;
    text-decoration: underline;
}
.sub-list-sj{
    width: 122px;
    line-height: 1.4;
    position: absolute;
    left: -71px;
    top:32px;
}
.sub-list-sj li{
    border-bottom: 1px dotted #827777;
    padding:5px 0;
}
.sub-list-sj li>a{
    display:inline-block;
    width: 48px;
    line-height: 22px;
}
.sub-list-sjq{
    margin-right:20px;
}
.list-arrow:hover web-list{
    display: block;
}
.web-list{
    z-index: 93110;
    width: 1232px;
    position:absolute;
    right:-1px;
    top:32px;
    background:#fff;
    padding:25px 0;
    border:1px solid #ccc;
    border-top:none;
    display:none;
}
.web-list-btone{
    color:#f56a00;
    font-size:16px;
    font-family:'\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}
.web-list-one{
    padding-left:30px;
    width: 475px;
    height: 110px;
    float:left;
}
.web-list a{
    color:#666;
}
.web-list-lbone>li{
    float:left;
    width: 95px;
    padding:6px 0;
    line-height: 1.4;
}
.web-list-lbone>li>a:hover{
    text-decoration: underline;
    color: #f56a00;
}
.web-list-two{
    width: 475px;
    height: 110px;
    float:left;
    border-left:1px solid #f5f5f5;
    border-right:1px solid #f5f5f5;
    padding-left:30px;
}
.web-list-bttwo{
    color:#2263d4;
    font-size:16px;
    font-family:'\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}
.web-list-lbtwo>li{
    float:left;
    width: 95px;
    padding:6px 0;
    line-height: 1.4;
}
.web-list-lbtwo>li>a:hover{
    text-decoration: underline;
    color: #2263d4;
}
.web-list-three{
    width: 190px;
    height: 110px;
    float:left;
    padding-left:30px;
}
.web-list-btthree{
    color:#666;
    font-size:16px;
    font-family:'\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}
.web-list-lbthree>li{
    float:left;
    width: 95px;
    padding:6px 0;
    line-height: 1.4;
}
.web-list-lbthree>li>a:hover{
    text-decoration: underline;
    color: #666;
}
.list-arrow:hover .web-list{
    display:block;
}
.my-car{
    font-size: 12px;
    color:#fff;
}
/* header结束 */


/* search 开始 */
.logo-box{
    overflow: hidden;
}
.logo{
    width: 240px;
    height: 130px;
    float:left;
}
.search-box{
    float:left;
    margin-left:100px;
    padding-top:38px;
}
.search-content{
    width: 623px;
    height: 36px;
    border:2px solid #ff0036;
}
.search-input{
    width: 491px;
    height: 36px;
    border:none;
    /* 输入框 选中样式 */
    outline: none;
    text-indent: 5px;
    float:left;
}
.search-btn{
    width: 132px;
    height: 36px;
    background: #ff0036;
    border:none;
    float:left;
    font-size:18px;
    font-weight: 700;
    color:#fff;
    letter-spacing: 5px;
}
.search-list{
    overflow: hidden;
    float:left;
}
.search-list>li{
    margin-top:3px;
    padding:0 12px;
    float:left;
    position: relative;
    left:-11px;
}
.search-list>li::after{
    content:"";
    width: 1px;
    height: 15px;
    background: #999;
    position: absolute;
    left:0;
    top:3px;
}
.search-list>li>a{
    color:#999;
    font-size:14px;
}
.search-list>li.list-hot a{
    color:#ff0036;
}


/* search 结束  */


/* nav 开始 */
.nav{
    width: 1030px;
    padding-left:200px;
    overflow: hidden;
}
.nav li{
    float:left;
}
.nav li img{
    width: 100px;
    height: 30px;
    margin-top:3px;
}
.nav >li>a{
    font-size:16px;
    color:#333;
    font-weight: 500;
    display:inline-block;
    height: 35px;
    line-height: 35px;
    padding:0 8px;
}


/* nav结束 */






/* 轮播图开始 */
#slide-box{
    background: #e8e8e8;
    height: 500px;
    border-top:2px solid #ff0036;
}
#slide-box .wrapper{
    height: 500px;
    position: relative;
}
.menu-box{
    width: 200px;
    height: 537px;
    background:rgba(0,0,0,.55);
    position: absolute;
    top:-37px;
    left:0;
}
.menu-title{
    color:#fff;
    height: 37px;
    line-height: 35px;
    background: #ff0036;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.menu-title .iconfont{
    margin:0 8px 0 14px;
}
#img-box{
    height: 500px;
    overflow: hidden;
}
#img-box img{
    width: 1230px;
}
.main-list{
    height: 31.2px;
    line-height: 31.2px;
    font-size: 14px;
    color:#fff;

}
.main-list a{
    color:#fff;
    font-size: 14px;
    height: 31px;
}
.main-list .iconfont{
    font-size: 16px;
    height: 31px;
    line-height: 31px;
    margin:0 4px 0 14px;
    opacity: 0.5;
}
#img-box-btn{
    position: absolute;
    left:50%;
    bottom:30px;
    margin-left:-100px;
    /* width: 100px;
    height: 90px; */
}
#img-box-btn li{
    height: 5px;
    width: 25px;
    background: #000;
    opacity: 0.3;
    float:left;
    margin-right:10px;
}
#img-box-btn li.img-btn{
    background: #fff;
    opacity: 0.6;
}
#img-box a img{
    display: none;
}
#img-box a .img-active{
    display: block;
}


/* 轮播图结束 */